




.hero-bg{
    background-image: url(./bg1.jpg);
     height: 750px ;
     background-size: 1390px 750px; 
 }
 
 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background-color: rgba(0, 0, 0, 0.5);
      position: sticky;
     top: 0;
 }
 
 .head-logo{
     margin-left: 30px;
     height: 40px;
     width: auto;
 }
 
 .logo {
     font-size: 24px;
     font-weight: bold;
     color: #fff;
     margin-left: -230px;
 }
 
 .nav-links {
     list-style: none;
     display: flex;
     gap: 30px;
 }
 
 .nav-links a {
     color: white;
     text-decoration: none;
 }
 
 .quiz-btn {
     background-color: #38a1db;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }
 
 .hero {
     height: 100vh;
     background-image: url('your-image.jpg');
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 

.chat-bot{
    width: 40px;
    height: auto;
    align-items: end;
    margin-left: 1150px;
    position: sticky;
     top: 0;
}




 .hero-content {
     text-align: center;
     color: #fff;
 }
 
 .hero-content h1 {
     font-size: 48px;
     margin-bottom: 20px;
 }
 
 .hero-content p {
     font-size: 18px;
     margin-bottom: 30px;
 }
 
 .continue-btn {
     background-color: #fa5945;
     color: white;
     padding: 15px 30px;
     border: none;
     border-radius: 5px;
     font-size: 18px;
     cursor: pointer;
 }
 
 .clinician-referral {
     margin-top: 20px;
     font-size: 14px;
 }
 
 .clinician-referral a {
     color: darkmagenta;
     text-decoration: none;
 }


 /****************************************** heropage-3 ****************************************************************/




 .mission-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: rgb(226, 174, 236);
    background-size: cover;
    margin-top: 80px;

    
}

.mission-text {
    max-width: 50%;
}

.mission-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #000;
}

.mission-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

.mission-button {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;

}

.partners {
    width: 350px;
    height: 280px;
    position: top center;
    background-size: cover;
    background-image: url(partner1.jpeg);
    size: 100%;

    
}

.partner {
    
    width: 250px;
    height: 180px;
    position: top center;

}

.partner img {
    height: 100px;
    margin-right: 20px;
    border-radius: 100%;
}

.partner p {
    margin: 0;
    font-size: 16px;
}   .mission-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    background-size: cover;

    
}

.mission-text {
    max-width: 50%;
}

.mission-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #000;
}

.mission-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

.mission-button {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;

}

.partners {
    width: 350px;
    height: 280px;
    position: top center;
    background-size: cover;
    background-image: url(partner1.jpeg);
    size: 100%;

    
}

.partner {
    
    width: 250px;
    height: 180px;
    position: top center;

}

.partner img {
    height: 100px;
    margin-right: 20px;
    border-radius: 100%;
}

.partner p {
    margin: 0;
    font-size: 16px;
}

.threeD-man{
    margin-right: 80px;
}

/************************************************** page2 *********************************************/


.solution-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
}



.solution-text {
    max-width: 100%;
    font-size: 25%;
    justify-content: baseline;
    padding-left: 20px;
    margin-left: 40px;
}

.solution-text h1 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #000;
    position: top center;
}

.solution-text p {
    font-size: 20px;
    line-height: 2.5;
    margin-bottom: 60px;
    color: #333;
    text-align: left;
    justify-content: right;
    
}

/*************************************page3*********************************************/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.how-it-works {
    margin: 50px 0;
}

.how-it-works h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
}

.step {
    background-color: #364F4F;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    font-size: 20px;
}

.step h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.step p {
    font-size: 1em;
    line-height: 1.5;
}

.specialize {
    background-image: url(./img/bbg3.jpg) ;
    height: 750px ;
    background-size: 1350px 830px; 
    
    padding: 30px;
    margin-top: 50px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specialize .content {
    width: 60%;
    font-size: 20px;
}

.specialize h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.specialize p {
    font-size: 1em;
    line-height: 1.5;
}

.specialize .techniques {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #d6d6d6;
    padding: 20px;
    border-radius: 10px;
}

.technique {
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.technique-icon {
    background-color: #A3D2CA;
    border-radius: 10%;
    padding: 20px;
}

.owl {
    width: 100px;
    height: auto;
   
}

.guide-text {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #E7B41A;
    padding: 5px 10px;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.content{
    margin-top: 50px;
}
.techniques{
    margin: 50px;
}


/*Page5************************************************************************************************************/

.container {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    max-width: 600px;
    margin-left: 50px;
    color: #1b1b1b;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.feature {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.feature-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    flex-shrink: 0;
}

.feature-text {
    font-size: 1.1em;
    line-height: 1.5;
}

.feature-text strong {
    font-weight: bold;
}

img.image {
    max-width: 400px;
    border-radius: 15px;
}



/**********************************************footer**********************************************************************/


footer {
    background-color: #f9f9f3;
    padding: 60px 100px;
    background-color: #e2d8d8;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}





.footer-section {
    margin: 10px 60px;
}

.footer-section h3 {
    font-size: 16px;
    color: #131313;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size:20px;
}

.footer-section ul li {
    margin-bottom: 9px;
}

.footer-section ul li a {
    color: #252525;
    text-decoration: none;
    font-size: 20px;
}

.footer-social {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.footer-social a img {
    width: 30px;
    height: 30px;
}

.footer-logo-edit{
    display: flex;
    margin-top: 14px;
}

.logo-edit{
    height: 30px;
    width: auto;
    margin-top: 14px;
}

.fotter-h3{
    margin-left: 20px;
    color: #1b1b1b;
}

.h3color{
    font-size: 20px;
    color: #1b1b1b;
}