/* body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
} */

.bgimgplace{
    background-image: url(./bbg3.jpg) no-repeat center center fixed;
    position: sticky;
    top: 0;
    /* max-height: 750px;
    max-width: 1362px; */
    
}


.bgimgcont{
    /* background-image: url(./bbg3.jpg); */
    background-color: #ffffff;
  
  
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 400px;
    margin-top: 100px;
}



.task-inputs{
    border-color: 1px solid black;
    padding: 5px;
    height: 13px;
}

.logocont{
   margin-right: 1080px;
   font-size: 24px;
     font-weight: bold;
     color: #fff;
}




.task-quest{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(48, 48, 48);
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 20px;
    
}

.options {
    margin-bottom: 20px;
    margin-top: 30px;
}

input[type="radio"] {
    margin-right: 10px;

}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}